@rendermode RenderMode.InteractiveWebAssembly
@attribute [Authorize]
@page "/caixa"
@inject IJSRuntime JS
@using FrontMenuWeb.Components.Modais.ModaisDeGrupo
@using FrontMenuWeb.Components.Modais.ModaisDeProdutos
@using FrontMenuWeb.Components.Modais.ModaisDeProdutos.Complementos
@using FrontMenuWeb.Components.Modais.ModaisDeProdutos.GrupoDeComplementosNosProdutos
@using FrontMenuWeb.Components.Modais.ModaisDeVendas
@using FrontMenuWeb.Components.Modais.ModaisDeVendas.ModaisDeCaixa
@using FrontMenuWeb.DTOS
@using FrontMenuWeb.Models.Pedidos
@using FrontMenuWeb.Models.Vendas
@using FrontMenuWeb.Services
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using MudBlazor.Extensions
@using MudBlazor.Extensions.Components
@inject GrupoServices GrupoService
@inject ISnackbar Snackbar
@inject IHttpClientFactory HttpClientFactory
@inject ProdutoService ProdutoService
@inject AliquotaService AliquotaService
@inject ComplementosServices ComplementosServices
@inject PedidosService PedidosService
@inject CaixaEPagamentosService CaixaService

<MudPaper tabindex="0" Square="false" Elevation="0" Style="background-color: var(--mud-palette-background); min-height: 100vh; margin-top:50px">
    <MudLayout Class="vh-100">
        <div class="d-flex align-items-center justify-content-between p-2">
            <div>
                <MudText Typo="Typo.h4">Caixa</MudText>
                <MudText Class="mb-3" Typo="Typo.body1">Lista de contas pagas no caixa.</MudText>
            </div>
            <div class="d-flex">
                @if (!AppState.CaixaAberto)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="false" OnClick="AbreCaixa">Abrir Caixa</MudButton>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Error" Disabled="false" OnClick="FechaCaixa">Fechar Caixa</MudButton>
                }
            </div>
        </div>
        <MudDivider Light=true Class="w-100" />

        <MudStack Class="w-100 h-100 mt-2" AlignItems="AlignItems.Center">
            <MudGrid Class="h-100 w-100">

                <MudItem Class="h-100" sm="12" md="8" xl="8" xxl="8">
                    <MudStack Class="h-100 w-100 ma-1">
                        <MudDataGrid T="ClsPedido"
                                     @ref="dataGridRef"
                                     EditTrigger="DataGridEditTrigger.Manual"
                                     Class="rounded-3 custom-striped h-100 w-100 ma-1"
                                     Loading="CarregandoPedidos"
                                     Hover
                                     HorizontalScrollbar="false"
                                     ServerData="LoadServerData">
                            <NoRecordsContent>
                                <MudStack AlignItems="AlignItems.Center"
                                          Justify="Justify.Center"
                                          Style="width: 100%; height: 100%; opacity: 0.4;">
                                    <MudIcon Icon="@Icons.Material.Filled.Inbox" Size="Size.Large" Class="mb-2" />
                                    <MudText Typo="Typo.subtitle1" Align="Align.Center">
                                        Nenhum pedido fechado ainda.
                                    </MudText>
                                    <MudText Typo="Typo.caption" Align="Align.Center">
                                        Seus pedidos aparecerão aqui quando estiverem fechados e com o caixa aberto.
                                    </MudText>
                                </MudStack>
                            </NoRecordsContent>
                            <ToolBarContent>

                            </ToolBarContent>
                            <Columns>
                                <TemplateColumn T="ClsPedido" Title="Origem">
                                    <CellTemplate Context="context">
                                        <MudTooltip Color="Color.Primary" Text="@context.Item.CriadoPor">
                                            <MudImage Style="width:32px;height:32px;" Src="@AppState.GetIconeDoApp(context.Item.CriadoPor)"></MudImage>
                                        </MudTooltip>
                                    </CellTemplate>
                                </TemplateColumn>
                                <PropertyColumn Property="x => x.Id" Title="Código"></PropertyColumn>
                                <PropertyColumn Property="x => x.DisplayId" Title="Código Externo"></PropertyColumn>
                                <TemplateColumn T="ClsPedido" Title="Cliente">
                                    <CellTemplate Context="context">
                                        @if (context.Item.Cliente is null)
                                        {
                                            <MudText Style="font-weight:600" Color="Color.Warning">Cliente não informado</MudText>
                                        }
                                        else
                                        {
                                            <MudText Style="font-weight:600" Color="Color.Success">@context.Item.Cliente.Nome</MudText>
                                        }
                                    </CellTemplate>
                                </TemplateColumn>
                                <TemplateColumn T="ClsPedido" Title="Valor">
                                    <CellTemplate Context="context">
                                        <MudText Style="font-weight:600" Color=Color.Success>@context.Item.ValorTotal.ToString("C")</MudText>
                                    </CellTemplate>
                                </TemplateColumn>
                                <PropertyColumn CellStyle="color: red;" Property="x => x.TipoDePedido" Title="Tipo"></PropertyColumn>
                            </Columns>
                            <PagerContent>
                                <MudDataGridPager T="ClsPedido" RowsPerPageString="pedidos por página" ShowPageNumber="false" AllItemsText="Teste" PageSizeOptions=@(new int[] { 10, 20, 50, 100, 200, 500, 999 }) />
                            </PagerContent>
                        </MudDataGrid>

                    </MudStack>
                </MudItem>

                <MudItem sm="12" md="4" xl="4" xxl="4">
                    <MudStack Class="h-100 w-100 ma-1">
                        <MudPaper Class="h-100 w-100 p-2" Style="background-color:var(--mud-palette-surface) ">
                            <MudStack>
                                <MudText Typo="Typo.h5" Align="Align.Center">Status Operacional</MudText>

                                @*RESUMO DO CAIXA*@
                                <MudStack Class="rounded-2" Style="background-color:var(--mud-palette-background); border: 2px dashed var(--mud-palette-primary);">
                                    <MudText Typo="Typo.subtitle1" Align="Align.Center">Resumo do Caixa:</MudText>

                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Typo="Typo.subtitle2">Valor Total em Vendas (+): </MudText>
                                        <MudText Typo="Typo.subtitle2">@StatusOperacional.ValorTotalEmVendas.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Typo="Typo.subtitle2">Tiket Médio (=): </MudText>
                                        <MudText Typo="Typo.subtitle2">@StatusOperacional.TiketMedio.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Typo="Typo.subtitle2">Valor Caixa Inicial (+): </MudText>
                                        <MudText Typo="Typo.subtitle2">@StatusOperacional.ValorDeAbertura.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Typo="Typo.subtitle2">Valor de Acrescimos (+): </MudText>
                                        <MudText Typo="Typo.subtitle2">@StatusOperacional.TotalDeArescimos.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Typo="Typo.subtitle2">Valor de Taxas de entrega (+): </MudText>
                                        <MudText Typo="Typo.subtitle2">@StatusOperacional.TotalTaxaEntrega.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Typo="Typo.subtitle2">Valor de Incentivos Externos (+): </MudText>
                                        <MudText Typo="Typo.subtitle2">@StatusOperacional.TotalTaxaEntrega.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Color="Color.Error" Typo="Typo.subtitle2">Valor de Descontos (-): </MudText>
                                        <MudText Color="Color.Error" Typo="Typo.subtitle2">@StatusOperacional.TotalEmDescontos.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Color="Color.Error" Typo="Typo.subtitle2">Valor de Trocos (-): </MudText>
                                        <MudText Color="Color.Error" Typo="Typo.subtitle2">@StatusOperacional.Trocos.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Color="Color.Error" Typo="Typo.subtitle2">Valor de Retiradas do caixa (-): </MudText>
                                        <MudText Color="Color.Error" Typo="Typo.subtitle2">@StatusOperacional.Sangrias.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Color="Color.Success" Typo="Typo.subtitle2">Valor de Suprimentos do caixa (+): </MudText>
                                        <MudText Color="Color.Success" Typo="Typo.subtitle2">@StatusOperacional.Suprimentos.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                    <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                        <MudText Color="Color.Warning" Typo="Typo.subtitle2">Valor Esperado em Dinheiro (=): </MudText>
                                        <MudText Color="Color.Warning" Typo="Typo.subtitle2">@StatusOperacional.ValorEsperadoEmDinheiro.ToString("C")</MudText>
                                    </MudStack>
                                    <MudDivider Light=true Class="w-100" />
                                </MudStack>

                                @*DISTRIBUICAO DE PAGAMENTOS*@
                                @if (StatusOperacional.RecebimentosPorTipo is not null)
                                {
                                    <MudStack Class="rounded-2" Style="background-color:var(--mud-palette-background); border: 2px dashed var(--mud-palette-primary);">
                                        <MudText Typo="Typo.subtitle1" Align="Align.Center">Total Por Tipo de Pagamentos Recebidos:</MudText>

                                        @foreach (var pagamento in StatusOperacional.RecebimentosPorTipo)
                                        {
                                            <MudStack Class="p-2" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                <MudText Typo="Typo.subtitle2">@pagamento.Key (+): </MudText>
                                                <MudText Typo="Typo.subtitle2">@pagamento.Value.ToString("C")</MudText>
                                            </MudStack>
                                            <MudDivider Light=true Class="w-100" />
                                        }

                                    </MudStack>
                                }
                            </MudStack>
                        </MudPaper>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudStack>
    </MudLayout>
</MudPaper>


@code {
    //Propriedades para mostrar os pedidos do caixa
    private List<ClsPedido> PedidosFechados = new();
    private MudDataGrid<ClsPedido>? dataGridRef = new();

    private bool CarregandoPedidos = true;

    private ClsFechamentoDeCaixa StatusOperacional = new();

    protected override async Task OnInitializedAsync()
    {
        await GetStatusOperacional();
        await base.OnInitializedAsync();
    }

    private async Task<GridData<ClsPedido>> LoadServerData(GridState<ClsPedido> lancamentos)
    {
        try
        {
            CarregandoPedidos = true;

            int page = lancamentos.Page + 1;
            int pageSize = lancamentos.PageSize;


            var result = await PedidosService
                                            .GetPedidosPorPaginaAsync(
                                               new QuerysDePedidos()
                                               {
                                                   Page = page,
                                                   PageSize = pageSize,
                                                   Status = StatusPedidos.FECHADO
                                               }
                                            );


            StateHasChanged();

            return new GridData<ClsPedido>
            {
                Items = result.Data,
                TotalItems = result.Total
            };

        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao carregar lançamentos: {ex.Message}", Severity.Error);
            return new GridData<ClsPedido>
            {

            };

        }
        finally
        {
            CarregandoPedidos = false;
        }

    }

    private async Task GetStatusOperacional()
    {
        var returnApiRefatored = await CaixaService.GetStatusOperacional(new FechaCaixaDto()
        {
            ValorFinalEmDinheiro = 0,
            ValorRecebimentosPix = 0,
            ValorRecebimentosCredito = 0,
            ValorRecebimentosDebito = 0
        });

        if (returnApiRefatored.Status == "success")
        {
            StatusOperacional = returnApiRefatored.Data.Objeto ?? new ClsFechamentoDeCaixa();
        }
        else
        {
            Snackbar.Add(string.Join(", ", returnApiRefatored.Messages), Severity.Error);
        }
    }


    private async Task AbreCaixa()
    {

        var dialog = await DialogService.ShowAsync<ModalDeAbrirCaixa>("Abrir Caixa");
        var result = await dialog.Result;

        if (result is null || result.Canceled)
        {
            Snackbar.Add("Ação de abrir caixa cancelada.", Severity.Info);
            return;
        }

        if (!result.Canceled && result.Data is AbreCaixaDto abreCaixaDto)
        {
            var ResponseAPi = await CaixaService.AbreCaixa(abreCaixaDto);
            string MensagemDeRetorno = string.Join(", ", ResponseAPi.Status == "success" ? ResponseAPi.Data.Messages : ResponseAPi.Messages);
            Snackbar.Add(MensagemDeRetorno, ResponseAPi.Status == "success" ? Severity.Success : Severity.Error);
            if (ResponseAPi.Status == "success")
            {
                AppState.CaixaAberto = true;
                StateHasChanged();
            }
        }
    }

    private async Task FechaCaixa()
    {

        var dialog = await DialogService.ShowAsync<ModalDeFecharCaixa>("Fechar Caixa");
        var result = await dialog.Result;

        if (result is null || result.Canceled)
        {
            Snackbar.Add("Ação de fechar caixa cancelada.", Severity.Info);
            return;
        }

        if (!result.Canceled && result.Data is FechaCaixaDto FechaCaixa)
        {
            ReturnApiRefatored<ClsFechamentoDeCaixa> ResponseAPi = await CaixaService.FechaCaixa(FechaCaixa);
            if (ResponseAPi.Status == "success")
            {
                await JS.InvokeVoidAsync("baixarJSON", ResponseAPi.Data.Objeto, $"fechamento-{DateTime.Now}-SOPHOS-WEB-FECHA.json");
                AppState.CaixaAberto = false;
                StateHasChanged();
            }
        }
    }

}