@using FrontMenuWeb.Models.Merchant
@using MudBlazor;

@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <AuthorizeView>
        <Authorized>
            <MudAppBar Color="Color.Primary" Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudText id="ProgramName" Typo="Typo.h5" Class="ml-3">@ProgramName</MudText>
                <MudSpacer />
                @if (AppState.MerchantLogado is not null)
                {
                    <MudText Typo="Typo.subtitle1" id="merchantName" Class="ml-3">@AppState.MerchantLogado.NomeFantasia</MudText>
                }
                <MudSpacer />
                <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
            </MudAppBar>

            <MudDrawer Style="background-color: var(--mud-palette-surface);" id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                <MudNavMenu>
                    <MudDivider Class="my-2" />
                    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">Inicio</MudNavLink>


                    <MudNavLink Href="claims" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group">Claims</MudNavLink>


                    <MudNavGroup Title="Catálogo" Icon="@Icons.Material.Filled.Inventory" Expanded="false">
                        <MudNavLink Icon="@Icons.Material.Filled.Category" Href="/grupos">Grupos</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Inventory" Href="/produtos">Produtos</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.AddCircle" Href="/pagemconst">Complementos</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Adjust" Href="/pagemconst">Opções</MudNavLink>
                    </MudNavGroup>

                    <MudNavGroup Title="Cadastros" Icon="@Icons.Material.Filled.AppRegistration" Expanded="false">
                        <MudNavLink Icon="@Icons.Material.Filled.People" Href="/pessoas">Pessoas</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Percent" Href="/aliquotas">Alíquotas</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.TableRestaurant" Href="/pagemconst">Mesas/Comandas</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Discount" Href="/pagemconst">Promoções</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Place" Href="/pagemconst">Bairros</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.FoodBank" Href="/pagemconst">Garçons</MudNavLink>
                    </MudNavGroup>

                    @*Financeiro*@
                    <MudNavGroup Title="Financeiro" Icon="@Icons.Material.Filled.CurrencyExchange" Expanded="false">

                        <MudNavGroup Title="Cadastros" Icon="@Icons.Material.Filled.AppRegistration" Expanded="false">
                            <MudNavLink Icon="@Icons.Material.Filled.AccountBalance" Href="/financeiro/contas">Contas</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.Category" Href="/financeiro/categorias">Categorias</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.AttachMoney" Href="/financeiro/formas-de-recebimento">Forma de Recebimento</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.MoneyOffCsred" Href="/financeiro/metodos">Método de Pagamentos</MudNavLink>

                        </MudNavGroup>
                        
                        <MudNavLink Icon="@Icons.Material.Filled.Wallet" Href="/pagemconst">Lançamento financeiro</MudNavLink>



                    </MudNavGroup>

                    <MudNavGroup Title="Estatísticas" Icon="@Icons.Material.Filled.QueryStats" Expanded="false">
                        <MudNavLink Icon="@Icons.Material.Filled.Sell" Href="/pagemconst">Tiket Médio</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.TableRestaurant" Href="/pagemconst">Performance dos Garçons</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.AttachMoney" Href="/pagemconst">Posição Fiscal</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Sell" Href="/pagemconst">Vendas</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.AddBusiness" Href="/pagemconst">Compras</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.BusinessCenter" Href="/pagemconst">Operações de Caixa</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.NetworkCheck" Href="/pagemconst">Vendas Pela Internet</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.DeliveryDining" Href="/pagemconst">Entregas</MudNavLink>
                    </MudNavGroup>

                    <MudNavGroup Title="Configurações" Icon="@Icons.Material.Filled.Settings" Expanded="false">
                        <MudNavLink Icon="@Icons.Material.Filled.IntegrationInstructions" Href="/pagemconst">Integrações</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Print" Href="/pagemconst">Impressões</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.Settings" Href="/pagemconst">Geral</MudNavLink>
                    </MudNavGroup>

                    <MudNavLink @onclick="Logout" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ExitToApp">Sair</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
        </Authorized>

    </AuthorizeView>

    <MudMainContent Class="pt-16 pa-4 mud-theme-background min-vh-100" Style="background-color: var(--mud-palette-background)">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;
    private bool _open = false;
    private bool _dense = false;
    private Breakpoint _breakpoint = Breakpoint.Lg;
    private DrawerClipMode _clipMode = DrawerClipMode.Never;
    private string ProgramName = "Sophos Menu";


    private void ToggleDrawer()
    {
        _open = !_open;

    }

    protected override async Task OnInitializedAsync()
    {

        _theme = new()
        {
            PaletteLight = _lightPalette,
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;


        if (user.Identity?.IsAuthenticated == true)
        {
            AppState.MerchantLogado = await MerchantServices.GetMerchantAsync();
        }
    }

    public async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");

        if (AuthStateProvider is CustomAuthStateProvider customAuthProvider)
        {
            customAuthProvider.NotifyAuthenticationStateChanged();
        }

        Navigation.NavigateTo("/login", forceLoad: true);
    }


    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#F88113",
        Black = "#110e2d",
        Background = "#FAFBFC",
        AppbarText = "#424242",
        AppbarBackground = "rgba(255,255,255,0.8)",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        Surface = "#FFFFFF",
        TextPrimary = "#000000",
    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#F88113",
        Surface = "#101628",
        Background = "#192436",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.8)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#ffffff",
        TextSecondary = "#92929f",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d80", //"#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ffb545",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80", //#404553
    };

    //#404553

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };

}


