@rendermode RenderMode.InteractiveWebAssembly
@attribute [Authorize]
@page "/pessoas"
@using FrontMenuWeb.Components.Modais.ModaisDePessoas
@using FrontMenuWeb.Dtos
@using FrontMenuWeb.Models.Pedidos
@using FrontMenuWeb.Models.Pessoas
@using FrontMenuWeb.Services
@using FrontMenuWeb.Services.Fiscal
@using Microsoft.AspNetCore.Components
@using System.Globalization;
@using MudBlazor.Extensions
@using MudBlazor.Services
@using MudBlazor.Extensions.Components
@inject IHttpClientFactory HttpClientFactory
@inject PessoasService PessoasService
@inject NfService NfService
@using MudBlazor.Extensions.Services
@implements IBrowserViewportObserver
@implements IAsyncDisposable

<MudPaper Square="false" class="@((CarregandoParteFiscal ? "wait-cursor" : ""))" Elevation="0" Style="background-color: var(--mud-palette-background); min-height: 100vh; margin-top:50px">
    <MudLayout>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <MudText Typo="Typo.h4">Pessoas</MudText>
                <MudText Class="mb-3" Typo="Typo.body1">Lista de pessoas Cadastradas</MudText>
            </div>
            <div class="d-flex">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="IsLoading ? true : false" OnClick="@(async () => { await AbreModalDAdicionarPessoa(); })">Nova Pessoa</MudButton>
            </div>
        </div>

        <MudDataGrid RowClick="@AbrirDrawer"
                     SelectOnRowClick=true
                     MultiSelection="false"
                     Loading=IsLoading
                     Hover
                     T="ClsPessoas"
                     EditTrigger="DataGridEditTrigger.Manual"
                     Items="@Pessoas"
                     class="rounded-3">
            <NoRecordsContent>
                <AvisoDeDadosVazios ReferenciaDados="Pessoas" />
            </NoRecordsContent>
            <ToolBarContent>

                <div class="gap-2 w-100 d-flex ">
                    <MudAutocomplete T="string" Label="Telefone" @bind-Value="ValorDePesquisaTelefone"
                                     @bind-Value:after="@(() => RecarregarPessoasAposPesquisaDeTelefone())"
                                     MaxItems="10"
                                     SearchFunc="@SearchTelefone"
                                     ResetValueOnEmptyText="@resetValueOnEmptyText"
                                     CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab"
                                     AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" Variant="Variant.Outlined" ShowProgressIndicator="true" Clearable="true" />

                    <MudAutocomplete T="string" Label="Nome" @bind-Value="ValorDePesquisaNome" SearchFunc="@SearchNome"
                                     @bind-Value:after="@(() => RecarregarPessoasAposPesquisaDeNome())"
                                     ResetValueOnEmptyText="@resetValueOnEmptyText"
                                     MaxItems="10"
                                     CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab"
                                     AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" Variant="Variant.Outlined" ShowProgressIndicator="true" Clearable="true" />
                </div>



            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Id" Title="Código" />
                <PropertyColumn Property="x => x.Nome" Title="Nome" />
                <TemplateColumn T="ClsPessoas" Title="Telefone">
                    <CellTemplate Context="context">
                        @FormatarTelefone(context.Item.Telefone!)
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn T="ClsPessoas" Title="Deletar">
                    <CellTemplate Context="context">
                        <MudTooltip Text="Clique para excluir pessoa" Color="Color.Error">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           Color="Color.Error"
                                           OnClick="@(async () => {await DeletarPessoa(context.Item);})" />
                        </MudTooltip>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn T="ClsPessoas">
                    <CellTemplate Context="context">
                        <MudTooltip Text="Clique para mais" Color="Color.Primary">
                            <MudMenu Dense
                                     Variant="Variant.Text"
                                     Size="Size.Medium"
                                     Color="Color.Inherit"
                                     Icon="@Icons.Material.TwoTone.MoreVert">


                                <MudTooltip Text="Clique para editar" Color="Color.Primary">
                                    <MudMenuItem OnClick=@(async p => { await AbrirDrawerAPartirDoBotaoDeEdicao(context.Item); })
                                                 Icon="@Icons.Material.TwoTone.Edit"
                                                 IconColor="Color.Primary"
                                                 Label="Editar Pessoa" />
                                </MudTooltip>

                            </MudMenu>
                        </MudTooltip>
                    </CellTemplate>
                </TemplateColumn>

            </Columns>
            <PagerContent>

                <MudDataGridPager T="ClsPessoas" RowsPerPageString="Pessoas por página" ShowPageNumber="false" AllItemsText="Teste" PageSizeOptions=@(new int[] { 10, 20,60,80,200,500 }) />

            </PagerContent>
        </MudDataGrid>


        @**************************************************DRAWER NOP FRONTEND********************************************************************************@
        <MudDrawer Style="background-color: var(--mud-palette-background);" @bind-Open="@_open" Width="@_drawerWidth" Height="@_height" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <MudStack Class="w-100" Justify="Justify.SpaceBetween" Row=true>
                    @*Aqui vai mostrar o nomeFantasia caso seja fornecedor*@
                    @if (PessoaSelecionadaParaEdicao.TipoPessoaId == 1)
                    {
                        <MudText Typo="Typo.h6">Cliente</MudText>
                    }
                    else if (PessoaSelecionadaParaEdicao.TipoPessoaId == 2)
                    {

                        <MudText Typo="Typo.h6">Fornecedor</MudText>
                    }
                    else if (PessoaSelecionadaParaEdicao.TipoPessoaId == 3)
                    {
                        <MudText Typo="Typo.h6">Cliente/Fornecedor</MudText>
                    }

                    <MudTooltip Text="Fechar" Color="Color.Primary">
                        <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="@(() => _open = false)" Color="Color.Primary" />
                    </MudTooltip>

                </MudStack>

            </MudDrawerHeader>
            <MudDrawerContainer>
                <MudCard>
                    <MudCardHeader>
                        @*-----------------------------PRIMEIRA ETAPA FOTO----------------------------------------*@
                        <MudPaper Elevation="0" Class="d-flex flex-column justify-content-center align-items-center w-100">
                            @if (CarregandoPessoaParaEdicao)
                            {
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
                                <MudSkeleton Class="w-50" />
                                <MudSkeleton Class="w-50" />
                            }
                            else
                            {
                                <MudAvatar Size="Size.Large">
                                    @(PessoaSelecionadaParaEdicao.Nome.Length > 1 ? PessoaSelecionadaParaEdicao.Nome.Substring(0, 1) : "")
                                </MudAvatar>
                                <MudText Color="Color.Primary">
                                    @PessoaSelecionadaParaEdicao.Nome
                                </MudText>
                                <MudText style="font-weight:30; font-size: 10px">
                                    Cliente desde 18 de mai de 2015
                                </MudText>
                            }
                        </MudPaper>
                        @*-----------------------------PRIMEIRA ETAPA FOTO----------------------------------------*@

                    </MudCardHeader>
                    <MudCardContent>
                        <MudTabs Centered=true SliderAnimation=true>
                            @*Aqui vai a informações do perfil de usuario*@
                            <MudTabPanel>
                                <ChildContent>
                                    <MudPaper MinHeight="100%" Class="d-flex flex-wrap justify-content-center align-items-center w-100">
                                        @if (CarregandoPessoaParaEdicao)
                                        {
                                            <MudSkeleton Width="50%" Height="50%" Class="ml-3" />
                                            <MudSkeleton Width="50%" Height="50%" Class="ml-3" />
                                            <MudSkeleton Width="50%" Height="50%" Class="ml-3" />
                                            <MudSkeleton Width="50%" Height="50%" Class="ml-3" />
                                        }
                                        else
                                        {
                                            @*Aqui vai as infos de cliente, como quantidade de vendas e tiket medio*@
                                        }
                                    </MudPaper>


                                    <MudPaper Class="pa-4 mt-2" Style="border: 1px solid #e0e0e0; border-radius: 10px;">
                                        <MudStack Row=true Justify="Justify.SpaceBetween">
                                            <MudText Typo="Typo.h6" Class="mb-2">Informações pessoais</MudText>
                                            <MudTooltip Color="Color.Primary" Text="Editar Cliente">
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                               Color="Color.Primary"
                                                               OnClick="@(() => _PessoaNaoEditavel = !_PessoaNaoEditavel)" />
                                            </MudTooltip>

                                        </MudStack>
                                        @if (CarregandoPessoaParaEdicao)
                                        {
                                            <MudGrid>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />

                                                </MudItem>

                                                <MudItem xs="6">
                                                    <MudSkeleton Width="100%" Height="40px" Class="ml-3" />
                                                </MudItem>
                                            </MudGrid>

                                        }
                                        else
                                        {

                                            <MudGrid>
                                                @*NOME DO CLIENTE*@
                                                <MudItem xs="6">
                                                    <MudTextField @bind-Value=@PessoaSelecionadaParaEdicao.Nome @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) Label="Nome" Disabled=_PessoaNaoEditavel />
                                                </MudItem>

                                                @*NOME FANTASIA*@
                                                @if (PessoaSelecionadaParaEdicao.TipoPessoaId == 2 || PessoaSelecionadaParaEdicao.TipoPessoaId == 3)
                                                {
                                                    <MudItem xs="6">
                                                        <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.NomeFantasia Label="Nome Fantasia" Disabled=_PessoaNaoEditavel />
                                                    </MudItem>
                                                }

                                                @*CPF*@
                                                <MudItem xs="6">
                                                    <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.Cpf Label="CPF" Disabled=_PessoaNaoEditavel />
                                                </MudItem>

                                                @*CNPJ*@
                                                @if (PessoaSelecionadaParaEdicao.TipoPessoaId == 2 || PessoaSelecionadaParaEdicao.TipoPessoaId == 3)
                                                {
                                                    <MudItem xs="6">
                                                        <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.Cnpj Label="CNPJ" Disabled=_PessoaNaoEditavel />
                                                    </MudItem>
                                                }

                                                @*Inscicao Municipal e Estadual*@
                                                @if (PessoaSelecionadaParaEdicao.TipoPessoaId == 2 || PessoaSelecionadaParaEdicao.TipoPessoaId == 3)
                                                {
                                                    <MudItem xs="6">
                                                        <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.InscricaoMunicipal Label="Inscrição Municipal" Disabled=_PessoaNaoEditavel />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.InscricaoEstadual Label="Inscrição Estadual" Disabled=_PessoaNaoEditavel />
                                                    </MudItem>
                                                }

                                                @*TELEFONE*@
                                                <MudItem xs="12" sm="6">
                                                    <MudStack Row=true>
                                                        <MudTextField Mask="@phoneMask" Label="Telefone (Brasil)" HelperText="Celular"
                                                                      Value="@maskedPhone" ValueChanged="EventCallback.Factory.Create<string>(this, OnPhoneChanged)"
                                                                      Variant="@Variant.Text" Clearable
                                                                      RequiredError="O Telefone é obrigatório"
                                                                      Disabled=_PessoaNaoEditavel
                                                                      @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) />
                                                        <MudTooltip Text="Clique para conversar com o cliente" Color="Color.Primary">
                                                            <MudIconButton Icon="fab fa-whatsapp"
                                                                           Color="Color.Success"
                                                                           Size="Size.Medium"
                                                                           OnClick="AbrirWhatsApp"
                                                                           Style="font-size: 18px;" />

                                                        </MudTooltip>
                                                    </MudStack>

                                                </MudItem>

                                                @*EMAIL*@
                                                <MudItem xs="6">
                                                    <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.Email Label="EMAIL" Disabled=_PessoaNaoEditavel />
                                                </MudItem>

                                                @*SITE*@
                                                @if (PessoaSelecionadaParaEdicao.TipoPessoaId == 2 || PessoaSelecionadaParaEdicao.TipoPessoaId == 3)
                                                {
                                                    <MudItem xs="6">
                                                        <MudTextField @onfocusout=@(async prop => await EditaPessoa(PessoaSelecionadaParaEdicao)) @bind-Value=@PessoaSelecionadaParaEdicao.Site Label="Site" Disabled=_PessoaNaoEditavel />
                                                    </MudItem>
                                                }
                                            </MudGrid>
                                        }
                                    </MudPaper>


                                    @*Endereços*@
                                    <MudPaper Class="mt-2 p-3" Style="border: 1px solid #e0e0e0; border-radius: 10px;">

                                        <MudStack Row=true Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-3">
                                            <MudText Typo="Typo.h6">Endereços</MudText>
                                            <MudTooltip Text="Adicionar endereço" Color="Color.Primary">
                                                <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="async () => { await AbreModalDeAdicionarEndereco(PessoaSelecionadaParaEdicao); }" />
                                            </MudTooltip>
                                        </MudStack>

                                        @if (!CarregandoPessoaParaEdicao && !CarregandoApenasEnderecos)
                                        {
                                            @foreach (var endereco in PessoaSelecionadaParaEdicao.Enderecos)
                                            {
                                                <MudPaper Class="pa-3 mb-2" Elevation="0" Style="border: 1px solid #e0e0e0; border-radius: 10px;">
                                                    <MudStack Spacing=5 Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                        <MudStack Row=true AlignItems="AlignItems.Center" Spacing="2">
                                                            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Color="Color.Primary" />
                                                            <MudStack Justify="Justify.Center" Class="m-2">
                                                                <MudText Typo="Typo.body2">@endereco.Rua, @endereco.Numero</MudText>
                                                                <MudText Typo="Typo.caption">@endereco.Bairro</MudText>
                                                                @if (!string.IsNullOrWhiteSpace(endereco.Complemento))
                                                                {
                                                                    <MudText Typo="Typo.caption">Complemento: @endereco.Complemento</MudText>
                                                                }
                                                                @if (!string.IsNullOrWhiteSpace(endereco.Referencia))
                                                                {
                                                                    <MudText Typo="Typo.caption"> Referencia: @endereco.Referencia</MudText>
                                                                }
                                                                @if (!string.IsNullOrWhiteSpace(endereco.ObsEndereco))
                                                                {
                                                                    <MudText Typo="Typo.caption">Obs: @endereco.ObsEndereco</MudText>
                                                                }
                                                                @if (!string.IsNullOrWhiteSpace(endereco.TipoEndereco))
                                                                {
                                                                    <MudText Typo="Typo.caption">@endereco.TipoEndereco</MudText>
                                                                }
                                                            </MudStack>
                                                        </MudStack>
                                                        <MudTooltip Text="Excluir endereço" Color="Color.Error">
                                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default" OnClick="async () => { await DeletarEndereco(PessoaSelecionadaParaEdicao, endereco); }" />
                                                        </MudTooltip>
                                                    </MudStack>
                                                </MudPaper>
                                            }
                                        }
                                        else
                                        {
                                            <MudSkeleton Width="100%" Height="75px" Class="ml-3" />
                                            <MudSkeleton Width="50%" Height="75px" Class="ml-3" />
                                        }
                                    </MudPaper>


                                </ChildContent>
                                <TabContent>
                                    Perfil
                                </TabContent>
                            </MudTabPanel>
                            @*----------------------------------------------*@
                            <MudTabPanel Text="Pedidos">
                                 <ChildContent>
                                    @if (PessoaSelecionadaParaEdicao.Pedidos is not null && PessoaSelecionadaParaEdicao.Pedidos.Any())
                                    {
                                        foreach (var pedido in PessoaSelecionadaParaEdicao.Pedidos)
                                        {
                                            <MudStack>
                                                <MudCard Class="rounded-3 mb-3" Style=@($"background-color: var(--mud-palette-background); border: 2px dashed {(pedido.StatusPedido == "FECHADO" ? "var(--mud-palette-primary)" : "var(--mud-palette-error)")};")>
                                                    <MudCardHeader>
                                                        <CardHeaderAvatar>
                                                            <MudAvatar Color="Color.Primary">
                                                                @if (pedido.CriadoPor == "SOPHOS")
                                                                {
                                                                    <MudImage Src="/images/SOPHOSLOGOLOGIN.jpg"></MudImage>
                                                                }
                                                                else if (pedido.CriadoPor == "IFOOD")
                                                                {
                                                                    <MudImage Src="/images/ifoodImagem.png"></MudImage>
                                                                }
                                                            </MudAvatar>
                                                        </CardHeaderAvatar>
                                                        <CardHeaderContent>
                                                            <MudText Color="Color.Primary" Typo="Typo.body1">@pedido.CriadoPor - @pedido.TipoDePedido - @pedido.DisplayId - @pedido.Id</MudText>  
                                                            <MudText>@pedido.CriadoEm</MudText>
                                                        </CardHeaderContent>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        @foreach (var item in pedido.Itens)
                                                        {
                                                            <MudStack Class="w-100" Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                <MudText>@($"{item.Quantidade}X {item.Descricao}")</MudText>
                                                                <MudText>UNIT: @($"{item.PrecoUnitario.ToString("C")}")</MudText>
                                                            </MudStack>
                                                            <MudDivider DividerType="DividerType.FullWidth" Light=true />
                                                            <MudStack Class="w-100" Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                                                                <MudText>TOTAL: @($"{item.PrecoTotal.ToString("C")}")</MudText>
                                                            </MudStack>
                                                            if (item.Complementos.Count > 0)
                                                            {
                                                                <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                                                                    <MudText Align="Align.Center" Typo="Typo.caption">Complementos:</MudText>
                                                                </MudStack>
                                                                foreach (var complemento in item.Complementos)
                                                                {
                                                                    <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.End">
                                                                        <MudText Typo="Typo.caption">@($"{complemento.Quantidade}X {complemento.Descricao} - {complemento.PrecoUnitario.ToString("C")}")</MudText>
                                                                    </MudStack>
                                                                }
                                                                <MudDivider DividerType="DividerType.FullWidth" Light=true />
                                                            }
                                                        }
                                                        <MudStack Style="color:  var(--mud-palette-primary)" AlignItems="AlignItems.Center">
                                                            <MudStack Spacing="2" Class="w-100">
                                                                <MudButton OnClick="@(() => { OnExpandCollapseClick(pedido); })" StartIcon="@Icons.Material.Filled.ArrowDropDown">@(!@pedido.ExpandidoNaUI ? "Ver infos de pags" : "Esconder infos de pag")</MudButton>
                                                                <MudDivider />
                                                                <MudCollapse Expanded="@pedido.ExpandidoNaUI">
                                                                    <MudStack Class="w-100">
                                                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                            <MudText Typo="Typo.subtitle2">Subtotal:</MudText>
                                                                            <MudText Typo="Typo.subtitle2">@pedido.ValorDosItens.ToString("C")</MudText>
                                                                        </MudStack>

                                                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                            <MudText Typo="Typo.subtitle2">Desconto:</MudText>
                                                                            <MudText Typo="Typo.subtitle2">@pedido.DescontoValor.ToString("C")</MudText>
                                                                        </MudStack>

                                                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                            <MudText Typo="Typo.subtitle2">Acréscimo:</MudText>
                                                                            <MudText Typo="Typo.subtitle2">@((pedido.AcrescimoValor + pedido.ServicoValor).ToString("C"))</MudText>
                                                                        </MudStack>

                                                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                            <MudText Typo="Typo.subtitle2">Incentivos:</MudText>
                                                                            <MudText Typo="Typo.subtitle2">@pedido.IncentivosExternosValor.ToString("C")</MudText>
                                                                        </MudStack>

                                                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                            <MudText Typo="Typo.subtitle2">Taxa Entrega:</MudText>
                                                                            <MudText Typo="Typo.subtitle2">@pedido.TaxaEntregaValor.ToString("C")</MudText>
                                                                        </MudStack>

                                                                        <MudDivider />

                                                                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                                            <MudText Typo="Typo.h6" Style="font-weight: 600">Total:</MudText>
                                                                            <MudText Typo="Typo.h6" Style="font-weight: 600">@pedido.ValorTotal.ToString("C")</MudText>
                                                                        </MudStack>

                                                                    </MudStack>
                                                                </MudCollapse>
                                                            </MudStack>
                                                        </MudStack>
                                                    </MudCardContent>
                                                    <MudCardActions>
                                                        <MudStack Class="w-100" Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                                            <MudStack Row=true>
                                                                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                                                                    <MudMenuItem OnClick=@(async () => { await ImprimirPedido(pedido); }) Icon="@Icons.Material.Filled.Print" Label="Imprimir" />
                                                                    <MudMenuItem OnClick=@(async () => { await EmiteNFCe(pedido); }) Icon="@Icons.Material.Filled.ReceiptLong" Label="Cupom Fiscal" />
                                                                    <MudMenuItem Icon="@Icons.Material.Filled.LocalShipping" Label="Enviar Para Entrega" />
                                                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" Label="Editar" />
                                                                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" Label="Excluir" />
                                                                </MudMenu>
                                                            </MudStack>
                                                        </MudStack>
                                                    </MudCardActions>
                                                </MudCard>
                                            </MudStack>
                                        }
                                    }
                                    else
                                    {
                                        <MudStack AlignItems="AlignItems.Center"
                                                  Justify="Justify.Center"
                                                  Style="width: 100%; height: 100%; opacity: 0.4; margin-top: 100px">
                                            <MudIcon Icon="@Icons.Material.Filled.Inbox" Size="Size.Large" Class="mb-2" />
                                            <MudText Typo="Typo.subtitle1" Align="Align.Center">
                                                Nenhum pedido feito por este(a) cliente.
                                            </MudText>
                                            <MudText Typo="Typo.caption" Align="Align.Center">
                                                Os pedidos aparecerão aqui após o fechamento do caixa..
                                            </MudText>
                                        </MudStack>
                                    }
                                </ChildContent>
                                <TabContent>
                                   Pedidos
                                </TabContent>
                            </MudTabPanel>
                            <MudTabPanel Text="Avaliações" />
                        </MudTabs>
                    </MudCardContent>
                </MudCard>
            </MudDrawerContainer>
        </MudDrawer>
        @**************************************************DRAWER NOP FRONTEND********************************************************************************@


    </MudLayout>
</MudPaper>

@code {
    private IEnumerable<ClsPessoas> Pessoas = new List<ClsPessoas>();
    private bool IsLoading = true;
    private bool _enableHeaderToggle = true;
    private string ValorDePesquisaTelefone = string.Empty;
    private string ValorDePesquisaNome = string.Empty;
    private bool resetValueOnEmptyText = true;
    private bool coerceText = false;
    private bool coerceValue = false;
    private bool selectedOnTab = false;
    private bool _editTriggerRowClick = true;
    private bool _PessoaNaoEditavel = true;
    private bool CarregandoApenasEnderecos = false;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            await AtualizaPessoas();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao buscar pessoas: {ex.Message}", Severity.Error);
        }
        finally
        {
            IsLoading = false;


        }
    }

    private async Task AtualizaPessoas()
    {
        try
        {
            IsLoading = true;

            Pessoas = new List<ClsPessoas>();

            Pessoas = await PessoasService.GetPessoas();
            Pessoas = Pessoas.OrderBy(p => p.Nome);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao buscar pessoas: {ex.Message}", Severity.Error);
        }
        finally
        {
            IsLoading = false;
        }

    }

    private string FormatarTelefone(string telefone)
    {
        if (string.IsNullOrWhiteSpace(telefone))
            return "";

        telefone = new string(telefone.Where(char.IsDigit).ToArray());

        if (telefone.Length == 11)
            return Convert.ToUInt64(telefone).ToString(@"(00) 00000-0000");
        else if (telefone.Length == 10)
            return Convert.ToUInt64(telefone).ToString(@"(00) 0000-0000");
        else
            return telefone; // ou trate como inválido
    }



    private async Task<IEnumerable<string>> SearchTelefone(string value, CancellationToken token)
    {
        try
        {
            var valorNumerico = SomenteNumeros(value);

            return Pessoas
                .Where(p => !string.IsNullOrWhiteSpace(p.Telefone) &&
                            SomenteNumeros(p.Telefone).Contains(valorNumerico))
                .Select(p => FormatarTelefone(p.Telefone!)) // <-- retorna com máscara
                .Distinct();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao pesquisar Pessoa: {ex.Message}", Severity.Error);
            return Enumerable.Empty<string>();
        }
    }
    private async Task<IEnumerable<string>> SearchNome(string value, CancellationToken token)
    {
        try
        {
            if (string.IsNullOrEmpty(value))
            {
                return Pessoas.Select(x => x.Nome!).Distinct();
            }

            return Pessoas
                .Where(x =>
                    (x.Nome?.Contains(value, StringComparison.OrdinalIgnoreCase) ?? false) ||
                    (x.Telefone?.Contains(value, StringComparison.OrdinalIgnoreCase) ?? false))
                .Select(x => x.Nome!)
                .Distinct();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao pesquisar Pessoa: {ex.Message}", Severity.Error);
            return Enumerable.Empty<string>();
        }
    }


    private async Task RecarregarPessoasAposPesquisaDeTelefone()
    {
        if (!string.IsNullOrEmpty(ValorDePesquisaTelefone))
        {
            var valorNumerico = SomenteNumeros(ValorDePesquisaTelefone);

            Pessoas = Pessoas
                .Where(p => !string.IsNullOrWhiteSpace(p.Telefone) &&
                            SomenteNumeros(p.Telefone).Contains(valorNumerico));
        }
        else
        {
            await AtualizaPessoas();
        }
    }

    private async Task RecarregarPessoasAposPesquisaDeNome()
    {
        if (!string.IsNullOrEmpty(ValorDePesquisaNome))
        {
            Pessoas = Pessoas.Where(p => p.Nome?.Contains(ValorDePesquisaNome, StringComparison.OrdinalIgnoreCase) ?? false);
        }
        else
        {
            await AtualizaPessoas();
        }
    }

    private string SomenteNumeros(string input)
    {
        return new string(input?.Where(char.IsDigit).ToArray() ?? Array.Empty<char>());
    }


    private async Task AbreModalDAdicionarPessoa()
    {
        var parameters = new DialogParameters
        {
            { "Pessoas", Pessoas }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<ModalDeAdicionarPessoa>("Cadastrar Pessoa", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled && result.Data is ClsPessoas pessoa && pessoa is not null)
        {
            StateHasChanged();
            await AtualizaPessoas();
        }

    }

    private async Task AbreModalDeAdicionarEndereco(ClsPessoas pessoaSelecionadaParaEdicao)
    {
        var parameters = new DialogParameters
        {
            { "Pessoa", pessoaSelecionadaParaEdicao }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<ModalDeAdicionarEnderecoParaPessoa>("Cadastrar endereço", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled && result.Data is bool sucesso && sucesso)
        {
            CarregandoApenasEnderecos = true;
            StateHasChanged();
            PessoaSelecionadaParaEdicao = await PessoasService.GetPessoaAsync(pessoaSelecionadaParaEdicao.Id);
            CarregandoApenasEnderecos = false;
        }

    }

    private async Task DeletarPessoa(ClsPessoas pessoa)
    {
        try
        {
            var parameters = new DialogParameters<ModalDeExcluir>
            {
                  { x => x.ContentText, $"Você tem certeza que deseja excluir a pessoa {pessoa.NomeFantasia ?? pessoa.Nome}? Essa operação não pode ser desfeita. " },
                  { x => x.ButtonText, "Sim" },
                  { x => x.Color, Color.Error}
             };
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, CloseOnEscapeKey = true };
            var dialog = await DialogService.ShowAsync<ModalDeExcluir>("Confirmar Exclusão", parameters, options);
            var result = await dialog.Result;

            if (!result!.Canceled && result.Data is bool sucesso && sucesso)
            {

                IsLoading = true;
                var response = await PessoasService.DeletePessoa(pessoa);

                if (response is null)
                {
                    Snackbar.Add($"Erro ao deletar pessoa", Severity.Error);
                }

                if (response is not null && response.Status != "success")
                {
                    Snackbar.Add($"{response.message}", Severity.Error);

                }

                if (response is not null && response.Status == "success")
                {
                    Snackbar.Add($"{response.Data.Message}", Severity.Error);

                    await AtualizaPessoas();
                    StateHasChanged();
                }

            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao deletar pessoa: {ex.Message}", Severity.Error);
        }
        finally
        {
            IsLoading = false;
        }
    }


    /***************************LOGICA DO DRAWER PARA EDITAR PESSOA*************************************************************/

    //*********************** PROPS PARA A LOGICA DE ABRIR O DRAWER DE INFOS E EDITAR CLIENTE OU FORNECEDOR******************************************************/
    [Inject] private IBrowserViewportService BrowserViewportService { get; set; }
    private ClsPessoas PessoaSelecionadaParaEdicao = new ClsPessoas();
    private bool _open;
    private Anchor _anchor;
    private string _height = "100%";
    private int _width = 0;
    private string _drawerWidth = "40%";
    private bool CarregandoPessoaParaEdicao = false;
    //*****************************************************************************/

    private void OpenDrawer(Anchor anchor)
    {
        _open = true;
        _anchor = anchor;
    }

    private async Task ImprimirPedido(ClsPedido pedido)
    {
        bool ImpressaoDesabilita = await LocalStorage.GetItemAsync<bool?>("ImpressaoDesabilita") ?? true;

        if (!ImpressaoDesabilita)
            await JS.InvokeVoidAsync("baixarJSON", pedido, $"pedido{pedido.Id}-SOPHOS-WEB.json");
        else
            Snackbar.Add("Impressão desabilitada nas configurações.", Severity.Warning);
    }

    private bool CarregandoParteFiscal = false;
    private async Task EmiteNFCe(ClsPedido Pedido)
    {
        CarregandoParteFiscal = true;
        try
        {
            var EnvNFCeDto = new EnNfCeDto
            {
                Pedido = Pedido
            };

            var response = await NfService.GeraNFCe(EnvNFCeDto);
            var message = response.Status == "error" ? string.Join(", ", response.Messages) : string.Join(",", response.Data.Messages);
            var severity = response.Status == "error" ? Severity.Error : Severity.Success;

            Snackbar.Add($"{message}", severity);

            if (response.Status != "error")
            {
                bool ImpressaoDesabilita = await LocalStorage.GetItemAsync<bool?>("ImpressaoDesabilita") ?? true;

                if (!ImpressaoDesabilita)
                {
                    if (response.Data.ObjetoWhenWriting is not null && response.Data.ObjetoWhenWriting.XmlStringField is not null)
                        await JS.InvokeVoidAsync("baixarXMLNF", response.Data.ObjetoWhenWriting.XmlStringField, $"{response.Data.ObjetoWhenWriting.ChaveNf}-procnfe.xml");
                }
                else
                {
                    Snackbar.Add("NFC-e Emitida porém a Impressão está desabilitada nas configurações.", Severity.Warning);
                }
            }


        }
        catch (Exception ex)
        {
            Snackbar.Add($"{ex.Message}", Severity.Error);
        }
        finally
        {
            CarregandoParteFiscal = false;
        }
    }

    private void OnExpandCollapseClick(ClsPedido sup)
    {
        sup.ExpandidoNaUI = !sup.ExpandidoNaUI;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);

        await base.OnAfterRenderAsync(firstRender);
    }

    public async ValueTask DisposeAsync()
        => await BrowserViewportService.UnsubscribeAsync(this);

    Guid IBrowserViewportObserver.Id { get; } = Guid.NewGuid();

    ResizeOptions IBrowserViewportObserver.ResizeOptions { get; } = new()
    {
        ReportRate = 50,
        NotifyOnBreakpointOnly = false
    };

    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs args)
    {
        _width = args.BrowserWindowSize.Width;

        // Atualiza o tamanho do drawer com base na largura
        _drawerWidth = _width < 768 ? "80%" : "45%";

        return InvokeAsync(StateHasChanged);
    }

    private async Task AbrirDrawer(DataGridRowClickEventArgs<ClsPessoas> args)
    {
        try
        {


            _PessoaNaoEditavel = true; // Reseta o estado de edição para não editável ao abrir o drawer
            CarregandoPessoaParaEdicao = true;

            OpenDrawer(Anchor.End);
            PessoaSelecionadaParaEdicao = await PessoasService.GetPessoaAsync(args.Item.Id);
            if (PessoaSelecionadaParaEdicao is not null)//aqui só vai o formatar o telefone se a pessoa selecionada não for nula
            {


                if (PessoaSelecionadaParaEdicao.Telefone is not null) //Aqui só tem a posibilidade de ser nulo se a pessoa não tiver telefone cadastrado
                {
                    maskedPhone = FormatarTelefone(PessoaSelecionadaParaEdicao.Telefone);
                }
            }

            CarregandoPessoaParaEdicao = false;
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }

    }

    private async Task AbrirDrawerAPartirDoBotaoDeEdicao(ClsPessoas args)
    {
        try
        {
            _PessoaNaoEditavel = true; // Reseta o estado de edição para não editável ao abrir o drawer
            CarregandoPessoaParaEdicao = true;

            OpenDrawer(Anchor.End);
            PessoaSelecionadaParaEdicao = await PessoasService.GetPessoaAsync(args.Id);
            if (PessoaSelecionadaParaEdicao is not null)//aqui só vai o formatar o telefone se a pessoa selecionada não for nula
            {
                if (PessoaSelecionadaParaEdicao.Telefone is not null) //Aqui só tem a posibilidade de ser nulo se a pessoa não tiver telefone cadastrado
                {
                    maskedPhone = FormatarTelefone(PessoaSelecionadaParaEdicao.Telefone);
                }
            }

            CarregandoPessoaParaEdicao = false;
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }

    }

    private async Task EditaPessoa(ClsPessoas pessoa)
    {
        try
        {
            _PessoaNaoEditavel = !_PessoaNaoEditavel; // Alterna o estado de edição

            var response = await PessoasService.UpdatePessoa(pessoa);

            Snackbar.Add(response, Severity.Success);

            if (response == "Pessoa modificada com sucesso")
            {
                await AtualizaPessoas();
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao editar pessoa: {ex.Message}", Severity.Error);
        }
    }

    private string maskedPhone;
    public PatternMask phoneMask = new PatternMask("(##) #####-####")
    {
        MaskChars = new[] { new MaskChar('#', @"[0-9]") }
    };
    private async Task OnPhoneChanged(string value)
    {
        maskedPhone = value;
        PessoaSelecionadaParaEdicao.Telefone = new string(value?.Where(char.IsDigit).ToArray() ?? Array.Empty<char>());
        await Task.CompletedTask; // para manter a assinatura async
    }

    [Inject] private IJSRuntime JS { get; set; }
    private void AbrirWhatsApp()
    {
        var telefone = $"55{PessoaSelecionadaParaEdicao.Telefone}";
        var url = $"https://wa.me/{telefone}";
        JS.InvokeVoidAsync("open", url, "_blank");
    }


    private async Task DeletarEndereco(ClsPessoas pessoa, EnderecoPessoa endereco)
    {
        try
        {
            var parameters = new DialogParameters<ModalDeExcluir>
            {
                  { x => x.ContentText, $"Você tem certeza que deseja excluir o endereço {endereco.Rua ?? pessoa.Nome}? Essa operação não pode ser desfeita. " },
                  { x => x.ButtonText, "Sim" },
                  { x => x.Color, Color.Error}
             };
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, CloseOnEscapeKey = true };
            var dialog = await DialogService.ShowAsync<ModalDeExcluir>("Confirmar Exclusão", parameters, options);
            var result = await dialog.Result;

            if (!result!.Canceled && result.Data is bool sucesso && sucesso)
            {
                var response = await PessoasService.DeleteEndereco(endereco, pessoa.Id);

                Snackbar.Add(response, Severity.Success);

                if (response == "Endereço removido com sucesso!")
                {
                    // Atualiza a lista de endereços da pessoa selecionada
                    CarregandoApenasEnderecos = true;
                    PessoaSelecionadaParaEdicao = await PessoasService.GetPessoaAsync(pessoa.Id);
                    CarregandoApenasEnderecos = false;
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao deletar endereço: {ex.Message}", Severity.Error);
        }
    }
    /***************************FIM DA LOGICA DO DRAWER PARA EDITAR PESSOA*************************************************************/

}
